:root {
    --background-color: #191411;
    --white-color: white;
    --add-color: #d3320f;
    --card-color-bg: #211A16;
    --text-color: white;
    --text-color-dark: #191411;
    --background-gradient: linear-gradient(135.00deg, rgb(218, 128, 35),rgb(226, 180, 56) 100%);
    --background-gradient-hover: linear-gradient(135.00deg, rgb(172, 97, 21),rgb(158, 122, 25) 100%);
    --border-radius: 5px;
    --card-border-radius: 16px;
    --border-radius-bg: 100px;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Gilroy';
    src: url(./assets/fonts/Gilroy-Semibold.ttf);
}
@font-face {
    font-family: 'Merriweather';
    src: url(./assets/fonts/Merriweather-Black.ttf);
}

body {
    background-color: var(--background-color);
    font-family: 'Gilroy', sans-serif;
    color: var(--text-color);
}
.container {
    max-width: 1200px;
    margin: auto;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: var(--background-gradient);
    border-radius: var(--border-radius);
    width: 16.25rem;
    height: 3.875rem;
    color: var(--text-color-dark);
    font-weight: 600;
    font-size: 1.125rem;
    padding: 1em;
    cursor: pointer;
    outline: none;
    transition: all .7s ease-in-out;
}
.button:hover {
    background: var(--background-gradient-hover);
}
.button:disabled {
    cursor: not-allowed;
    color:grey;
    background: #343434;
}
